RewriteEngine on

RewriteCond %{HTTP_REFERER} !^http://denchikai.pennydroid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://denchikai.pennydroid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://easychef.pennydroid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://easychef.pennydroid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://network.pennydroid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://network.pennydroid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pennydroid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pennydroid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pennydroidstudios.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://pennydroidstudios.info$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.denchikai.pennydroid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.denchikai.pennydroid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.easychef.pennydroid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.easychef.pennydroid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.network.pennydroid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.network.pennydroid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pennydroid.com/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pennydroid.com$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pennydroidstudios.info/.*$      [NC]
RewriteCond %{HTTP_REFERER} !^http://www.pennydroidstudios.info$      [NC]
RewriteRule .*\.(js)$ - [F,NC]

