@charset "utf-8";

/* ================================ */
/*            Base Styles           */
/* ================================ */
body {
	font-family: Segoe UI, Arial, Verdana, Times New Roman;
}

/* ========== Paragraph ========== */
p, label, footer nav {
	font-size: 12px;
	font-weight: normal;
	padding-bottom: 12px;
}

/* ========== Title ========== */
h1 {
	font-size: 48px;
	font-weight: bold;
}

/* ========== Subtitle ========== */
h2 {
	font-size: 24px;
	font-weight: bold;
}

/* ========== Header ========== */
h3 {
	font-size: 16px;
	font-weight: bold;
}

/* ========== Subheader ========== */
h4 {
	font-size: 14px;
	font-weight: bold;
}

/* ========== Pointer ========== */
h5 {
	font-size: 14px;
	font-weight: bold;
}

/* ========== Subpointer ========== */
h6 {
	font-size: 14px;
	font-weight: bold;
}

/* ========== Hyperlinks ========== */
a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* ========== Navigation ========== */
header nav {
	font-size: 16px;
	font-weight: bold;
}

/* ========== Lists ========== */
ul {
	list-style-type: square;
	list-style-position: outside;
	padding-left: 18px;
	padding-bottom: 8px;
}
li, li p {
	padding-bottom: 0px;
}

/* ========== Formatting ========== */
b {
	font-weight: bold;
}
i {
	font-style: italic;
}

/* ========== Tables ========== */
td {
	padding: 0 8px;
	vertical-align: top;
}