@charset "utf-8";

/* ============================== */
/*            Template            */
/* ============================== */

/* ========== Base ========== */
html {
	height: 100%;
}
body {
	min-height: 100%;
	height: auto;
}

/* ========== Header ========== */
header {
	position: relative;
	width: 100%;
	min-height: 128px;
	text-align: left;
	vertical-align: middle;
	z-index: 3;
}
header .wrapper {
	padding: 0 16px;
}

header nav {
	position: relative;
	width: 80%;
	margin: 0 auto;
	margin-top: 4px;
	text-align: center;
}
header .main a, header .games a {
	margin: 8px 0;
	padding: 0px 8px;
	display: inline-block;
}

#header-gallery {
	position: relative;
	width: 100%;
	min-height: 32px;
	padding: 32px 0;
	z-index: 0;
}

.bubble {
	font-size: 18px;
	width: 100%;
	height: 100%;
	position: relative;
	border-width: 4px;
	border-style: solid;
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16x;
	padding: 10px 10px;
}

.bubble:after {
	content: "";
	display: block;
	position: absolute;
	top: 32px;
	bottom: auto;
	left: -32px;
	width: 0;
	border-width: 10px 32px 10px 0;
	border-style: solid;
}

/* ========== Main ========== */
#main {
	position: relative;
	width: 100%;
	min-height: 32px;
	padding: 32px 0;
	z-index: 1;
}
#main .wrapper {
	padding: 0 0;
}

/* ========== Footer ========== */
footer {
	position: relative;
	bottom: 0px;
	min-height: 80px;
	width: 100%;
	z-index: 2;
}
footer .wrapper {
	padding: 8px 0;
}
footer nav {
	display: inline;
}

#subfooter {
	min-height: 24px;
	width: 100%;
}
#subfooter .wrapper {
	padding: 8px 0;
}
#subfooter p {
	display: inline;
}


/* ============================== */
/*             Common             */
/* ============================== */

/* ========== Elements ========== */
article {
	padding-bottom: 16px;
}

/* ========== Wrappers ========== */
.wrapper {
	position: relative;
	width: 80%;
	margin: 0 auto;
}

/* ========== Dividers ========== */
.divider-vertical, .divider-vertical-light {
	width: 1px;
	height: 100%;
}
.divider-horizontal, .divider-horizontal-light {
	width: 100%;
	height: 1px;
	margin: 16px 16px;
}
.divider-horizontal-large {
	width: 100%;
	height: 30px;
	margin: 8px 0;
	background-size: cover;
}

/* ========== Boxes ========== */
.box-dark, .box-light, .box-blue {
	margin: 16px;
	padding: 16px;
}
.box-item {
	width: 192px;
	height: 216px;
	display: inline-block;
}

/* ========== Forms ========== */
label {
	padding: 0;
}
input, textarea, select {
	border-width: 1px;
	margin-bottom: 8px;
}
input:disabled, textarea:disabled, select:disabled, label.disabled, .form-arrow.disabled, .form-arrow-required.disabled {
	width: 0px;
	height: 0px;
	text-size: 0px;
}
.form-cell-label {
	padding-top: 4px;
	padding-right: 8px;
	text-align: right;
	vertical-align: top;
}

.form-arrow, .form-arrow-required {
	width: 16px;
	height: 16px;
	position: relative;
	display: inline-block;
}

/* ========== Borders ========== */
.border, .border-no-top, .border-no-bottom, .addon-item {
	border-width: 2px;
	border-style: solid;
}
.border-no-top {
	border-top-width: 0px;
}
.border-no-bottom {
	border-bottom-width: 0px;
}
.addon-item {
	width: 192px;
	height: 164px;
	padding-bottom: 8px;
	margin: 0 3px;
	margin-bottom: 8px;
	display: inline-block;
	position: relative;
}
.addon-item p, .addon-item h4 {
	font-size: 12px;
	padding: 0 8px;
}
.addon-item img {
	opacity: 0.25;
	box-shadow: none;
	margin-bottom: 8px;
}
.addon-item.selected img, .addon-item.included img {
	opacity: 1;
}
.addon-item.included .addon-price {
	text-decoration: line-through;
}

.addon-price {
	width: 100%;
	height: 0px;
	right: 0px;
	bottom: 24px;
	padding-right: 8px;
	position: absolute;
	display: block;
	text-align: right;
	font-size: 16px;
	font-weight: bold;
}

.number-selector {
	width: 100%;
	height: 0px;
	top: 140px;
	position: absolute;
	display: block;
	text-align: center;
}
.number-selector img {
	box-shadow: none;
	width: 16px;
	height: 16px;
}

/* ========== Inline Frame ========== */
iframe {
	margin-bottom: 8px;
}

/* ========== Link Button ========== */
.button {
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
	text-decoration: none !important;
	padding: 8px;
}
.button:hover {
	text-decoration: none !important;
}
.button a {
	text-decoration: none !important;
}
.button a:hover {
	text-decoration: none !important;
}

/* ========== Gallery ========== */
.gallery-wrapper {
	margin: 0px auto;
	padding: 8px 0;
	padding-top: 20px;
}

.gallery {
	margin: 0px auto !important;
	margin-bottom: 12px !important;
	overflow: hidden;
	border-width: 3px;
}
